@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin centered-flex {
  justify-content: center;
  align-items: center;
}

@mixin centered-flex-row {
  @include flex-row;
  @include centered-flex;
}

@mixin centered-flex-column {
  @include flex-column;
  @include centered-flex;
}
