@import '../../stylesheets/breakpoints.scss';
@import '../../stylesheets/helpers.scss';

.container {
}

.content {
  @include flex-column;
  width: 80%;
  margin: auto;
  margin-top: 21px;

  @include breakpoint-desktop {
    @include flex-row;
    justify-content: space-between;
  }
}

.suggested {
  margin-top: 35px;
  order: 2;
  font-size: 22px;
  letter-spacing: -0.09px;

  @include breakpoint-desktop {
    margin-top: 0px;
    font-size: 18px;
    width: 20%;
    order: 1;
  }
}

.suggested-items {
  font-family: 'Arvo', serif;
  font-size: 16px;
  letter-spacing: -0.06px;

  @include breakpoint-desktop {
    font-size: 18px;
  }
}

.suggested-item {
  display: block;
  margin: 7px 0;
  text-decoration: none;
  color: black;
  &:visited { color: black; }

  &:first-of-type {
    margin-top: 11px;
  }
}

.post {
  order: 1;

  @include breakpoint-desktop {
    order: 2;
    width: 75%;
  }
}

.title {
  font-size: 22px;
  color: black;
  letter-spacing: -0.09px;

  @include breakpoint-desktop {
    letter-spacing: -0.1px;
    font-size: 26px;
  }
}

.body {
  margin-top: 18px;
  font-family: 'Arvo', serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.06px;

  @include breakpoint-desktop {
    font-size: 22px;
    letter-spacing: -0.09px;
  }

  a {
    color: #727272;
    text-decoration: none;
  }
}
